*{
    border: 0ch;
    margin: 0%;
}
.contenido{
    display: grid;
    grid-template-rows: 15% 75% 10%;
    height: 99vh;
    width: 98vw;
    border: 1px solid black;
}

.header{
    border: 1px solid black;;
    grid-row: 1/2;
    height: 99%;
    width: 99vw;
    display: flex;
    flex-direction:column;
}

.header div{
    height: 10px;
    width: 20px;
    border: 1px solid black;
    color: aqua;
}