.content{
    height: 97vh;
    width: 96vw;
    border: 7px solid black;
    background:linear-gradient( to left, black, white );
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    
}
.foto{
    height: 97vh;
    width: 48vw;
    background-image: url("img/NuevaImagen.jpg");
    background-position: center;
    background-size: cover;
    /*Cover es para que ocupe todo el div*/
    
    color: azure;
}
.reproductor div{
    height: 300px;
    width: 900px;
    
}

h1{
    color: white;
    font-family: 'Monoton', cursive;
    width: 1700px;
    margin-left: 1100px;
    font-size: 50px;
    
}

.primero{
    margin: 400px 0px 0px 300px;
    
}

.segundo{
    margin: 0 px 0px 0px 500px;
}

.segundo audio{
    margin: -250px 0px 0px 300px;
}

  